.navbar-brand{
  .img-wrap {
    transition: width .4s, border-radius .4s;
    display: block;
    overflow: hidden;
    width: 64px;
    border-radius: 40px;
  }
  .img-wrap-hover:hover{
    width: 205px;
    border-radius: 16px;
  }
  img {
    width: 250px;
    padding: 16px 7px;
    background-color: #1772f2;
    vertical-align: top;
    
  }
}