@media(min-width: 800px){
  #header{
    /* position: sticky;
    top: 0;
    z-index: 1030; */
    background-color: rgba(255, 255, 255, 0.95);
  }
}

.navbar-brand{
  .img-wrap {
    transition: width .4s, border-radius .4s;
    display: block;
    overflow: hidden;
    width: 50px;
    border-radius: 50px;
  }
  .img-wrap-hover:hover{
    width: 171px;
    border-radius: 16px;
  }
  img {
    width: 208px;
    padding: 12px 5px;
    background-color: var(--blue);
    vertical-align: top;
    
  }
}