.b{
  border-style: solid;
  border-color: var(--gray-lighter);
  border-width: 0px;
}
@for $i from 0 to 3 {
  .b-$i {
    border-width: $(i)px !important;
  }
  .bx-$i {
    border-right-width: $(i)px !important;
    border-left-width: $(i)px !important;
  }
  .by-$i {
    border-top-width: $(i)px !important;
    border-bottom-width: $(i)px !important;
  }
  .bt-$i {
    border-top-width: $(i)px !important;
  }
  .bb-$i {
    border-bottom-width: $(i)px !important;
  }
  .bl-$i {
    border-left-width: $(i)px !important;
  }
  .br-$i {
    border-right-width: $(i)px !important;
  }
}

.b-blue{
  border-color: var(--blue) !important;
}