.container-fluid, .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px){
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
}

.container-slim {
  max-width: 768px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  max-width: 968px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list-group-item{
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.badge{
  display: inline-block;
  padding: .25em .7em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
  text-transform: uppercase;
  color: var(--white)
}

.card{
  padding: 1em;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-lighter)
}

.card-info{
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.card-warning{
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.card-danger{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.card-success{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.card-primary{
  color: #0c3c7e;
  background-color: #d1e3fc;
  border-color: #bed8fb;
}
