.inline-flex{
  display: flex
}

.flex{
  display: flex
}

.flex-reverse{
  display: flex;
  flex-direction: row-reverse;
}

.flex-row{
  flex-direction: row;
}

.flex-column{
  flex-direction: column;
}

.flex-align-justify-center {
  align-items: center;
  justify-content: center;
}

.justify-content-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-end{
  justify-content: flex-end;
}

.align-self-stretch{
  align-self: stretch
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

@for $i from 0 to 4 {
  .flex-$i { flex: $i; }
}

@media (min-width: 768px) {
  .md-flex{
    display: flex;
  }

  .md-flex-column {
  flex-direction: column;
  }

  .md-flex-row {
    flex-direction: row;
  }
  .md-space-between {
    justify-content: space-between;
  }
  .md-align-items-start {
    align-items: start;
  }
  .md-justify-content-start {
    justify-content: start;
  }
}