/* Merriweather */
@font-face {
   font-family: 'Merriweather';
      src: url('./fonts/Merriweather/Merriweather-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Merriweather';
      src: url('./fonts/Merriweather/Merriweather-Italic.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}
@font-face {
   font-family: 'Merriweather';
      src: url('./fonts/Merriweather/Merriweather-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: 'Merriweather';
      src: url('./fonts/Merriweather/Merriweather-LightItalic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}
@font-face {
   font-family: 'Merriweather';
      src: url('./fonts/Merriweather/Merriweather-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Merriweather';
      src: url('./fonts/Merriweather/Merriweather-BoldItalic.ttf') format('truetype');
   font-weight: 700;
   font-style: italic;
}
@font-face {
   font-family: 'Merriweather';
      src: url('./fonts/Merriweather/Merriweather-Black.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'Merriweather';
      src: url('./fonts/Merriweather/Merriweather-BlackItalic.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
}

/* OpenSans */
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
   font-weight: 400;
   font-style: italic;
}
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
   font-weight: 300;
   font-style: italic;
}
/* @font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
   font-weight: 500;
   font-style: italic;
} */
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
   font-weight: 700;
   font-style: italic;
}
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'OpenSans';
      src: url('./fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
   font-weight: 900;
   font-style: italic;
}