.grid {
  display: grid;
}

.grid-wrap {
  height: 100%;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto;
}

.full-row {
  grid-column: 1 / -1;
}

.grid-list-item{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}


.grid-equal-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}