@import "./bootstrap/bootstrap.scss";

@import "./_vars.css";
@import "./reboot.css";
@import "./flex.css";
@import "./grid.css";
@import "./margin-padding.css";

@import "./typography.css";
@import "./utils.css";
@import "./nav.css";

#pricing-page{
  scroll-behavior: smooth;
}

main{
  -webkit-font-smoothing: antialiased;
}

.view-header{
  text-align: center;
}

code, .precode > code{
  color: #e83e8c;
}

.precode{
  padding: 25px;
  tab-size: 4;
  background-color: #f0f0f0
}

#html-content{
  img {
    margin-bottom: 1em;
  }
}