@import "./bootstrap";
@import "./typography";
@import "./utils";
@import "./loading-spinner";
@import "./nav";

#pricing-page{
  scroll-behavior: smooth;
}

main{
  -webkit-font-smoothing: antialiased;
}

.view-header{
  text-align: center;
}


code, .precode > code{
  color: #e83e8c;
}

.precode{
  padding: 25px;
  tab-size: 4;
  background-color: #f0f0f0
}