@import "./bootstrap";
@import "./typography";
@import "./utils";
@import "./loading-spinner";
@import "./nav";

#pricing-page{
  scroll-behavior: smooth;
}

main{
  -webkit-font-smoothing: antialiased;
}

.view-header{
  text-align: center;
}