.p-outer{ padding: var(--gap); }
.pt-outer{ padding-top: var(--gap); }
.pb-outer{ padding-bottom: var(--gap); }
.pl-outer{ padding-left: var(--gap); }
.pr-outer{ padding-right: var(--gap); }

.m-outer{ margin: var(--gap); }
.mt-outer{ margin-top: var(--gap); }
.mb-outer{ margin-bottom: var(--gap); }
.ml-outer{ margin-left: var(--gap); }
.mr-outer{ margin-right: var(--gap); }

.m-auto { margin: auto; }
.mb-auto { margin-bottom: auto; }
.mt-auto { margin-top: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto }
.p-auto { padding: auto;}
.pb-auto { padding-bottom: auto; }
.pt-auto { padding-top: auto; }
.px-auto { padding-left: auto; padding-right: auto; }
.py-auto { padding-top: auto; padding-bottom: auto; }
/* 
-1 .25  --25
-2 .5   --5
-3 1    -1
-4 1.5  -2
-5 3    -3
*/
/* For Margin styles**/
@for $i from 0 to 10 {
  .m-$i { margin: $(i)em; }
  .mt-$i { margin-top: $(i)em; }
  .mb-$i { margin-bottom: $(i)em; }
  .mr-$i { margin-right: $(i)em; }
  .ml-$i { margin-left: $(i)em; }
  .mx-$i { margin-left: $(i)em; margin-right: $(i)em; }
  .my-$i { margin-top: $(i)em; margin-bottom: $(i)em; }
}

.m--25 { margin: 0.25em; }
.mt--25 { margin-top: 0.25em; }
.mr--25 { margin-right: 0.25em; }
.mb--25 { margin-bottom: 0.25em; }
.ml--25 { margin-left: 0.25em; }
.mx--25 { margin-left: 0.25em; margin-right: 0.25em; }
.my--25 { margin-top: 0.25em; margin-bottom: 0.25em; }

.m--5 { margin: 0.5em; }
.mt--5 { margin-top: 0.5em; }
.mr--5 { margin-right: 0.5em; }
.mb--5 { margin-bottom: 0.5em; }
.ml--5 { margin-left: 0.5em; }
.mx--5 { margin-left: 0.5em; margin-right: 0.5em; }
.my--5 { margin-top: 0.5em; margin-bottom: 0.5em; }

.p--25 { padding: 0.25em; }
.pt--25 { padding-top: 0.25em; }
.pr--25 { padding-right: 0.25em; }
.pb--25 { padding-bottom: 0.25em; }
.pl--25 { padding-left: 0.25em; }
.px--25 { padding-left: 0.25em; padding-right: 0.25em; }
.py--25 { padding-top: 0.25em; padding-bottom: 0.25em; }

.p--5 { padding: 0.5em; }
.pt--5 { padding-top: 0.5em; }
.pr--5 { padding-right: 0.5em; }
.pb--5 { padding-bottom: 0.5em; }
.pl--5 { padding-left: 0.5em; }
.px--5 { padding-left: 0.5em; padding-right: 0.5em; }
.py--5 { padding-top: 0.5em; padding-bottom: 0.5em; }

/**For Padding styles**/
@for $i from 0 to 10 {
  .p-$i { padding: $(i)em; }
  .pt-$i { padding-top: $(i)em; }
  .pb-$i { padding-bottom: $(i)em; }
  .pr-$i { padding-right: $(i)em; }
  .pl-$i { padding-left: $(i)em; }
  .px-$i { padding-left: $(i)em; padding-right: $(i)em; }
  .py-$i { padding-top: $(i)em; padding-bottom: $(i)em; }
}