.u{
  text-decoration: underline
}
.strike {
  text-decoration: line-through
}

strong, .strong {
  font-weight: bold
}

.em {
  font-style: italic 
}

.line-height-1{
  line-height: 1em;
}

@include media-breakpoint-up(sm) {
  .h1, h1 {
    font-size: 3.3em;
  }
}

@include media-breakpoint-up(sm) {
  .lead{
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
}

.text-teal{
  color: $teal
}

.text-orange{
  color: $orange
}

.badge-teal{
  background-color: $teal;
  color: #ffffff;
}

.badge-orange{
  background-color: $orange;
  color: #ffffff;
}

.text-truncate{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

ul.checkmark {
  list-style: none;
  padding-left: 0;

  li{
    position: relative;
    padding-left: 30px;
    
    &:before{
      position: absolute;
      left: 3px;
      top: 3px;
      content: '✅'
    }
  }
}