.full-screen{
  height: 100vh;
}

.bg-gray-100{ background-color: $gray-100; }
.bg-gray-200{ background-color: $gray-200; }
.bg-gray-300{ background-color: $gray-300; }
.bg-gray-400{ background-color: $gray-400; }
.bg-gray-500{ background-color: $gray-500; }
.bg-gray-600{ background-color: $gray-600; }
.bg-gray-700{ background-color: $gray-700; }
.bg-gray-800{ background-color: $gray-800; }
.bg-gray-900{ background-color: $gray-900; }

.border-gray-100{ border-color: $gray-100; }
.border-gray-200{ border-color: $gray-200; }
.border-gray-300{ border-color: $gray-300; }
.border-gray-400{ border-color: $gray-400; }
.border-gray-500{ border-color: $gray-500; }
.border-gray-600{ border-color: $gray-600; }
.border-gray-700{ border-color: $gray-700; }
.border-gray-800{ border-color: $gray-800; }
.border-gray-900{ border-color: $gray-900; }

a{
  &.bg-light{
    &:hover, &:focus{
      background-color: $light !important;
    }
  }
}

.repeat-box-pattern {
  background: url('../images/box-pattern.gif')
}

.m-6{
  margin: 4em !important;
}
.m-7{
  margin: 5em !important;
}
.mt-6, .my-6{
  margin-top: 4em !important;
}
.mt-7, .my-7{
  margin-top: 5em !important;
}
.mb-6, .my-6{
  margin-bottom: 4em !important;
}
.mb-7, .my-7{
  margin-bottom: 5em !important;
}


.p-6{
  padding: 4em !important;
}
.p-7{
  padding: 5em !important;
}
.pt-6, .py-6{
  padding-top: 4em !important;
}
.pt-7, .py-7{
  padding-top: 5em !important;
}
.pb-6, .py-6{
  padding-bottom: 4em !important;
}
.pb-7, .py-7{
  padding-bottom: 5em !important;
}